
        <section class="post-list">
            <div>
                 {% for article in dates %}
                    {% set year = article.date.strftime('%Y') %}
                    {% set previous_post_year = dates[loop.index - 2].date.strftime('%Y') %}
                        {%if previous_post_year != year %}
                            <h2>{{ year }}</h2>
                        {% endif %}
                            <dl>
                                <dt>
                                    <time datetime="{{ article.date.isoformat() }}">
                                             {{ article.date.strftime('%d %b %y') }}
                                    </time>
                                </dt>
                                <dd>
                                    <a href="{{ SITEURL }}/{{ article.url }}">
                                        {{ article.title }}
                                    </a>
                                    {% include '_includes/article_tags.html' %}
                                </dd>

                            </dl>
                {% endfor %}
            </div>
    </section>
