
               <time class="post-date" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
               {% if article.category %}
               <span class="post-category"><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span>
               {% endif %}
               {% if article.tags %}
               <span class="post-tags">
                  tags: 
                  {% for tag in article.tags %}
                     <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>, 
                  {% endfor %}
               </span>
               {% endif %}
