
            <nav id="main-nav">
              <ul>
                <li><a href="{{ SITEURL }}/{{ INDEX_URL }}">Blog</a></li>
            {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                <li><a href="{{ SITEURL }}/{{ cat.url }}" {% if cat == category %}class="active"{% endif %}>{{ cat.name }}</a></li>
                {% endfor %}
            {% endif %}
            {% if DISPLAY_PAGES_ON_MENU -%}
                {% for pag in PAGES %}
                <li><a href="{{ SITEURL }}/{{ pag.url }}" {% if pag == page %}class="active"{% endif %}>{{ pag.title }}</a></li>
                {% endfor %}
            {% endif %}
                <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Archives</a></li>
              </ul>
            </nav>
