
            <nav id="main-nav">
              <ul>
                <li><a href="{{ SITEURL }}/{{ INDEX_URL }}">Blog</a></li>
            {% if DISPLAY_CATEGORIES_ON_MENU -%}
                {% for cat, null in categories %}
                <li><a href="{{ SITEURL }}/{{ cat.url }}" {% if cat == category %}class="active"{% endif %}>{{ cat.name }}</a></li>
                {% endfor %}
            {% endif %}
            {% if DISPLAY_PAGES_ON_MENU -%}
                {% for pg in pages %}
                <li><a href="{{ SITEURL }}/{{ pg.url }}" {% if pg == page %}class="active"{% endif %}>{{ pg.title }}</a></li>
                {% endfor %}
            {% endif %}
            {% if TAGS_SAVE_AS %}
                <li><a href="{{ SITEURL }}/{{ TAGS_URL }}">Tags</a></li>
            {% endif %}
            {% if ARCHIVES_SAVE_AS %}
                <li><a href="{{ SITEURL }}/{{ ARCHIVES_URL }}">Archives</a></li>
            {% endif %}
              </ul>
            </nav>
