header.navigation h1 {
   text-align: center;
   margin: 1rem;
}

header.navigation h1 a {
   text-decoration: none;
}

header.navigation nav {
   width: 80%;
   max-width: 710px;
   margin: 3rem auto;
   text-align: center;
}

header.navigation nav ul {
   list-style-type: none;
   padding: 0;
}

header.navigation nav li {
   display: inline;
   margin: 0 1rem;
}

header.navigation nav a {
   text-decoration: none;
   font-size: 2.1rem;
}

header.list-header {
   margin: 3.5rem auto;
   width: 80%;
   max-width: 710px;
}

header.list-header h1 {
   font-size: 4rem;
}

.post-category {
    margin-left: 25px;
}

.post .post-content {
   margin-top: 15px;
}

div.highlight {
   word-wrap: normal;
}
