<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}{{ SITENAME }}</title>

    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/screen.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygment.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    <link rel="author" href="{{ AUTHOR }}">

    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{% if FEED_ALL_ATOM %}
<link href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}">
{% endif %}
    <link rel="icon" href="{{ SITEURL }}/images/favicon.ico">
</head>
<body class="home-template nav-closed" itemscope itemtype="http://schema.org/WebPage">
    {% include 'navigation.html' %}
    <div class="site-wrapper">
        <header class="main-header {% if article %}post-head{% endif %}{% if page %}post-head {% endif %}" style="background-image: url({{ SITEURL }}/theme/images/{% if article %}bear.jpg{% else %}banner-bg.jpg{% endif %})" itemscope itemtype="http://schema.org/WPHeader">
            <nav class="main-nav overlay clearfix">
                <a class="menu-button" href="#">
                    <span class="burger">&#9776;</span>
                    <span class="word">Menu</span>
                </a>
            </nav>
            <div class="vertical">
                <div class="main-header-content inner">
                    <h1 class="page-title" itemprop="headline">{{ SITENAME }}</h1>
                    <h2 class="page-description" itemprop="description">{{TAG_LINE}}</h2>
                </div>
            </div>
            <a class="scroll-down icon-arrow-left blink_me" href="#content" data-offset="-45">
                <span class="hidden">Scroll Down</span>
            </a>
        </header>
    {% block content %}
    {% endblock %}
        <footer class="site-footer clearfix" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
            <section class="copyright">
                <a itemprop="url" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" class="tooltip" data-tooltip="CC BY-NC-SA" target="_blank">
                CC Attribution-NonCommercial-ShareAlike 3.0 International License</a>.
            </section>
            <section class="poweredby">Proudly published with <a href="https://getpelican.org">Pelican</a></section>
        </footer>
    </div>
</body>
</html>
